.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}

.nav-logo {
    display: flex;
    justify-content: center;
    gap: 10px;
}

p {
    color: rgb(233, 97, 97);
    font-size: 39px;
    font-weight: 600px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: rgb(89, 110, 126);
    font-size: 20px;
    font-weight: 500px;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: rgb(217, 91, 91);
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button {
    width: 159px;
    height: 58px;
    outline: none;
    border: 2px solid rgb(218, 172, 172);
    border-radius: 75px;
    color: #846f6f;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}

.nav-login-cart button:active {
    background-color: rgb(244, 242, 240);
}

.nav-cart-count {
    width: 20px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background-color: red;
    color: white;
}